/* Styles for the navbar container */
.navbar-container {
  position: fixed;
  bottom: 10%; /* Adjust the distance from the bottom */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(128, 128, 128, 0.5); /* Grey but transparent */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px; /* Rounded bottom corners */
  border-bottom-right-radius: 20px; /* Rounded bottom corners */
  backdrop-filter: blur(10px); /* Add a slight blur for transparency effect */
  display: flex;
  justify-content: space-between;
  padding: 10px; /* Add padding to the container */
  width: 100%;
}

/* Styles for the navigation items container */
.nav-items {
  display: flex;
  gap: 10px; /* Add some spacing between navigation items */
}

/* Styles for individual navigation items */
.nav-item {
  background-color: rgba(128, 128, 128, 0.8); /* Slightly darker background */
  color: #fff; /* White text color */
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  -webkit-tap-highlight-color: transparent;
}

.nav-item:hover {
  background-color: #555; /* Darker background on hover */
}

.nav-item.selected {
  background-color: #333; /* Even darker background for selected item */
}
